<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>temaJavaEE</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SrvModificaSuma</display-name>
    <servlet-name>SrvModificaSuma</servlet-name>
    <servlet-class>SrvModificaSuma</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvModificaSuma</servlet-name>
    <url-pattern>/modificasuma</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvCautaConturiDupaUtilizator</display-name>
    <servlet-name>SrvCautaConturiDupaUtilizator</servlet-name>
    <servlet-class>SrvCautaConturiDupaUtilizator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvCautaConturiDupaUtilizator</servlet-name>
    <url-pattern>/cautaconturi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvCautaUtilizatorDupaCont</display-name>
    <servlet-name>SrvCautaUtilizatorDupaCont</servlet-name>
    <servlet-class>SrvCautaUtilizatorDupaCont</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvCautaUtilizatorDupaCont</servlet-name>
    <url-pattern>/cautautilizator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvInregistreaza</display-name>
    <servlet-name>SrvInregistreaza</servlet-name>
    <servlet-class>SrvInregistreaza</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvInregistreaza</servlet-name>
    <url-pattern>/inregistreaza</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvAutentifica</display-name>
    <servlet-name>SrvAutentifica</servlet-name>
    <servlet-class>SrvAutentifica</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvAutentifica</servlet-name>
    <url-pattern>/autentifica</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvIndex</display-name>
    <servlet-name>SrvIndex</servlet-name>
    <servlet-class>SrvIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvIndex</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvVerificaSold</display-name>
    <servlet-name>SrvVerificaSold</servlet-name>
    <servlet-class>SrvVerificaSold</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvVerificaSold</servlet-name>
    <url-pattern>/verificasold</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpVerificaSold</display-name>
    <servlet-name>OpVerificaSold</servlet-name>
    <servlet-class>OpVerificaSold</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpVerificaSold</servlet-name>
    <url-pattern>/opafisaresuma</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpInregistreaza</display-name>
    <servlet-name>OpInregistreaza</servlet-name>
    <servlet-class>OpInregistreaza</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpInregistreaza</servlet-name>
    <url-pattern>/opinregistreaza</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpAutentifica</display-name>
    <servlet-name>OpAutentifica</servlet-name>
    <servlet-class>OpAutentifica</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpAutentifica</servlet-name>
    <url-pattern>/opautentifica</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpDelogare</display-name>
    <servlet-name>OpDelogare</servlet-name>
    <servlet-class>OpDelogare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpDelogare</servlet-name>
    <url-pattern>/opdelogare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpCautaUtilizator</display-name>
    <servlet-name>OpCautaUtilizator</servlet-name>
    <servlet-class>OpCautaUtilizator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpCautaUtilizator</servlet-name>
    <url-pattern>/opcautautilizator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpCautaConturi</display-name>
    <servlet-name>OpCautaConturi</servlet-name>
    <servlet-class>OpCautaConturi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpCautaConturi</servlet-name>
    <url-pattern>/opcautaconturi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpAdaugaDepozit</display-name>
    <servlet-name>OpAdaugaDepozit</servlet-name>
    <servlet-class>OpAdaugaDepozit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpAdaugaDepozit</servlet-name>
    <url-pattern>/opadaugadepozit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpModificaSuma</display-name>
    <servlet-name>OpModificaSuma</servlet-name>
    <servlet-class>OpModificaSuma</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpModificaSuma</servlet-name>
    <url-pattern>/opmodificasuma</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpCereFonduri</display-name>
    <servlet-name>OpCereFonduri</servlet-name>
    <servlet-class>OpCereFonduri</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpCereFonduri</servlet-name>
    <url-pattern>/opcerefonduri</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvTranzactie</display-name>
    <servlet-name>SrvTranzactie</servlet-name>
    <servlet-class>SrvTranzactie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvTranzactie</servlet-name>
    <url-pattern>/tranzactie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpTranzactie</display-name>
    <servlet-name>OpTranzactie</servlet-name>
    <servlet-class>OpTranzactie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpTranzactie</servlet-name>
    <url-pattern>/optranzactie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvCereFonduri</display-name>
    <servlet-name>SrvCereFonduri</servlet-name>
    <servlet-class>SrvCereFonduri</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvCereFonduri</servlet-name>
    <url-pattern>/cerefonduri</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvAcceptaCereri</display-name>
    <servlet-name>SrvAcceptaCereri</servlet-name>
    <servlet-class>SrvAcceptaCereri</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvAcceptaCereri</servlet-name>
    <url-pattern>/acceptacereri</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpAcceptaCereri</display-name>
    <servlet-name>OpAcceptaCereri</servlet-name>
    <servlet-class>OpAcceptaCereri</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpAcceptaCereri</servlet-name>
    <url-pattern>/opacceptacereri</url-pattern>
  </servlet-mapping>
</web-app>